.message-card {
  width: 115px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 4px;
}

.message-header {
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px;
  border-radius: 4px 4px 0 0;
}

.message-content {
  justify-content: center;
  padding: 10px;
  border-radius: 0 0 4px 4px;
}

button[type="delete"] {
  display: block;
  margin: auto;
  padding: 5px 10px;
  background-color: #c63939;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
